.git

# compiled output
dist
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
/coverage
npm-debug.log

# System Files
.DS_Store
Thumbs.db

.angular

logo-small.png
